*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background: yellow;
    height: 640px;

}

.flex-item{
    width: 33.33%;
    color: #fff;
    background: red;
}



/*.flex-item:nth-child(3){
    font-size: 40px;
}*/
